*.png
其他mod/
script/
*.o
music/
list/
promise/
resource/
fight/
android/
sound/
*.a
*.ppu
*.so
save/
save13/
title/
*.dbg
SFE0.72.19/
UPedit/
sfeu16/
*.or
*.zip
*.dll
*.exe
*.obj
*.bak
*.lps
*.compiled
*.dcu
__history/
fight0/
data/
lib/
all-mod/
backup/
sfe0.72.22/
*.xlsx
*.local
*.identcache
*.rsm
*.dsk
*.~dsk
*.dsv
*.tvsconfig
.vscode/
*.ctps
