*.png
其他mod/
script/
*.o
music/
list/
promise/
resource/
fight/
android/
sound/
*.a
*.ppu
*.so
save/
save13/
title/
*.dbg
SFE0.72.19/
UPedit/
sfeu16/
*.or
*.zip
*.dll
*.exe
*.obj
*.bak
*.lps
*.compiled
*.dcu
__history/
fight0/
data/
lib/
all-mod/
backup/
sfe0.72.22/
*.xlsx
*.local
*.identcache
*.rsm
*.dsk
*.~dsk
*.dsv
*.tvsconfig
.vscode/
*.ctps
*.res
AllMod-Launcher/.vs
AllMod-Launcher/AllMod-Launcher/.vs
AllMod-Launcher/AllMod-Launcher/bin
AllMod-Launcher/AllMod-Launcher/obj
AllMod-Launcher/AllMod-Launcher/Resources
AllMod-Launcher/AllMod-Launcher/Properties
kys-pascal-androidstudio/.gradle
kys-pascal-androidstudio/.idea
kys-pascal-androidstudio/app/.cxx
kys-pascal-androidstudio/app/build
kys-pascal-androidstudio/app/jni/SDL2/
kys-pascal-androidstudio/app/jni/SDL2_image
kys-pascal-androidstudio/app/jni/SDL2_ttf
kys-pascal-androidstudio/build
*.so
